.information-banner{
  .carousel__prev{
    background: $white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .carousel__next{
    background: $white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .carousel__slide--prev{
    width: 20% !important;
    .images-carousel{
      height: 80%;
      object-fit: cover;
      opacity: 0.5;
     }
  }
  .carousel__slide--active{
   width: 80% !important;
    
   .images-carousel{
    height: auto;
    border-radius: 6px;
   }
  }
  .carousel__slide--next{
    width: 20% !important;
    .images-carousel{
      height: 80%;
      object-fit: cover;
      opacity: 0.5;
     }
  }
  .carousel__pagination{
    margin: 0;
    .carousel__pagination-button{
      &:after{
        border-radius: 12px;
        width: 20px;
        background-color: $gray-600;
        height: 6px;
       }
    }
    .carousel__pagination-button--active{
     &:after{
      border-radius: 12px;
      width: 40px;
      background-color: $primary-color;
      height: 6px;
     }
    }
  }
}